@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,500;1,100;1,200&display=swap');
  .navigation{
    width: auto;
background-color: rgb(4, 0, 0);
display: flex;
align-items: center;
    }
h1{
margin: 10px 17px 10px;
padding: 0%;
font-size: 20px;
font-family: serif;
color: white;
}
.box{

    padding: 0;
	position: relative;
	width: 300px;
	height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #060c21;
	margin: 4% 15% 3% 39%;
}
.box:before{
	content: '';
	position: absolute;
	top: -2px;
	left: -2px;
	right: -2px;
	bottom: -2px;
	background: #ed8926;
	z-index: -1;
}
.box:after{
	content: '';
	position: absolute;
	top: -2px;
	left: -2px;
	right: -2px;
	bottom: -2px;
	background: #29e808;
	z-index: -2;
	filter: blur(40px);
}
.box::before,
.box::after{
	background: linear-gradient(235deg, #89ff00, #eede06, #0fcce5);
}

.box .glass{
    
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	display: block;
	background: rgba(255,255,255,.1);
	pointer-events: none;
}
.box .content{
	padding: 20px;
	color: #fff;
    display: grid;
    align-items: center;
    justify-items: center;
}
.list, li, a{
    text-decoration: none;
    color: white;
    display: flex;
        display: flex;
    margin: 5px 7px;
}
/* contents editing */
.content{
    background-color: black;
    height: auto;
    position: sticky;
}
.image{
    background-color: black;
    margin: auto;
    display: flex;
    justify-content: center;
    height: 10rem; 
}
.prologo{
    height: 110px;
    border-radius: 60px;
    border: solid rgb(88,88,88) 4px;
}
.Writerpen {
    flex-wrap: nowrap;
    display: flex;
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
    /* border: solid rgb(173 5 70) 3px; */
    flex-direction: column;
    align-items: center;
}
.penwrite{
    color: rgb(225 13 239);
    font-size: 20px;
    margin: auto;
}

.wroll{
    
        color: white;
        font-size: 20px;
        background-color: rgb(188 102 16);
        font-weight: bold;
    
}

.declare{
    color: rgb(9 230 226);
    font-size: 22px;
    text-decoration-line: underline;
}
.l1{
        color: #c0f300;
}
.l2{
    color: antiquewhite;
}
.l3{
    color: chocolate;
}
.l4{
    color: #efcb0b;
}
.l5{

    color: #ff0081;
}
.l6{
    color: teal;
}
.events{
    color: coral;
        text-decoration: underline;
}

.sociico{
    display: flex;
    height: 24px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 50px;
}
.sico1{
    height: 30px;
    margin: 0px 5px;
}
.sico2{
    height: 30px;
    margin: 0px 5px;
}
.sico3{
    height: 30px;
    margin: 0px 5px;
}
.sico4{
    height: 30px;
    margin: 0px 5px;
}
.sico5{
    height: 30px;
    margin: 0px 5px;
}

.tag{
    font-family: 'Poppins', sans-serif;
    margin: 38px;
    font-size: 13px;
    font-weight:400
}
.foot{
    width: auto;
    background-color: #131326;
    color: white;
    height: 3rem;
    display: flex;
    margin: 0px 1px;
    position: sticky;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}
@import url("https://fonts.googleapis.com/css?family=Roboto");
@-webkit-keyframes come-in {
  0% {
    -webkit-transform: translatey(100px);
            transform: translatey(100px);
    opacity: 0;
  }
  30% {
    -webkit-transform: translateX(-50px) scale(0.4);
            transform: translateX(-50px) scale(0.4);
  }
  70% {
    -webkit-transform: translateX(0px) scale(1.2);
            transform: translateX(0px) scale(1.2);
  }
  100% {
    -webkit-transform: translatey(0px) scale(1);
            transform: translatey(0px) scale(1);
    opacity: 1;
  }
}
@keyframes come-in {
  0% {
    -webkit-transform: translatey(100px);
            transform: translatey(100px);
    opacity: 0;
  }
  30% {
    -webkit-transform: translateX(-50px) scale(0.4);
            transform: translateX(-50px) scale(0.4);
  }
  70% {
    -webkit-transform: translateX(0px) scale(1.2);
            transform: translateX(0px) scale(1.2);
  }
  100% {
    -webkit-transform: translatey(0px) scale(1);
            transform: translatey(0px) scale(1);
    opacity: 1;
  }
}
* {
  margin: 0;
  padding: 0;
}

html, body {
  background: #eaedf2;
  font-family: 'Roboto', sans-serif;
}

.floating-container {
  position: fixed;
  width: 100px;
  height: 100px;
  bottom: 0;
  right: 0;
  margin: 35px 25px;
}
.floating-container:hover {
  height: 300px;
}
.floating-container:hover .floating-button {
  box-shadow: 0 10px 25px rgba(44, 179, 240, 0.6);
  -webkit-transform: translatey(5px);
          transform: translatey(5px);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.floating-container:hover .element-container .float-element:nth-child(1) {
  -webkit-animation: come-in 0.4s forwards 0.2s;
          animation: come-in 0.4s forwards 0.2s;
}
.floating-container:hover .element-container .float-element:nth-child(2) {
  -webkit-animation: come-in 0.4s forwards 0.4s;
          animation: come-in 0.4s forwards 0.4s;
}
.floating-container:hover .element-container .float-element:nth-child(3) {
  -webkit-animation: come-in 0.4s forwards 0.6s;
          animation: come-in 0.4s forwards 0.6s;
}
.floating-container .floating-button {
  position: absolute;
  width: 65px;
  height: 65px;
  background: #2cb3f0;
  bottom: 0;
  border-radius: 50%;
  left: 0;
  right: 0;
  margin: auto;
  color: white;
  line-height: 65px;
  text-align: center;
  font-size: 23px;
  z-index: 100;
  box-shadow: 0 10px 25px -5px rgba(44, 179, 240, 0.6);
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.floating-container .float-element {
  position: relative;
  display: block;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 15px auto;
  color: white;
  font-weight: 500;
  text-align: center;
  line-height: 50px;
  z-index: 0;
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}
.floating-container .float-element .material-icons {
  vertical-align: middle;
  font-size: 16px;
}
.floating-container .float-element:nth-child(1) {
  background: #42A5F5;
  box-shadow: 0 20px 20px -10px rgba(66, 165, 245, 0.5);
}
.floating-container .float-element:nth-child(2) {
  background: #4CAF50;
  box-shadow: 0 20px 20px -10px rgba(76, 175, 80, 0.5);
}
.floating-container .float-element:nth-child(3) {
  background: #FF9800;
  box-shadow: 0 20px 20px -10px rgba(255, 152, 0, 0.5);
}


@media only screen and (max-width: 600px){
    .tag{
        font-family: 'Poppins', sans-serif;
        margin: 11px;
        font-size: 10px;
        font-weight: 600;
    }
    .sociico{
        display: flex;
        height: 24px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 12px;
    }
    .box{

        padding: 0;
        position: relative;
        width: 300px;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #060c21;
        margin: 4% 15% 9% 25%;
    }
    .box:before{
        content: '';
        position: absolute;
        top: -2px;
        left: -2px;
        right: -2px;
        bottom: -2px;
        background: #ed8926;
        z-index: -1;
    }
    .box:after{
        content: '';
        position: absolute;
        top: -2px;
        left: -2px;
        right: -2px;
        bottom: -2px;
        background: #29e808;
        z-index: -2;
        filter: blur(40px);
    }
    .box::before,
    .box::after{
        background: linear-gradient(235deg, #89ff00, #eede06, #0fcce5);
    }
    
    .box .glass{
        
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        display: block;
        background: rgba(255,255,255,.1);
        pointer-events: none;
    }
    .box .content{
        padding: 20px;
        color: #fff;
        display: grid;
        align-items: center;
        justify-items: center;
    }
}
@media only screen and (max-width: 600px){
    .tag{
        font-family: 'Poppins', sans-serif;
        margin: 11px;
        font-size: 8px;
        font-weight: 600;
    }
    .sociico{
        display: flex;
        height: 24px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 12px;
    }
    .box{

        padding: 0;
        position: relative;
        width: 300px;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #060c21;
        margin: 4% 15% 9% 17%;
    }
    .box:before{
        content: '';
        position: absolute;
        top: -2px;
        left: -2px;
        right: -2px;
        bottom: -2px;
        background: #ed8926;
        z-index: -1;
    }
    .box:after{
        content: '';
        position: absolute;
        top: -2px;
        left: -2px;
        right: -2px;
        bottom: -2px;
        background: #29e808;
        z-index: -2;
        filter: blur(40px);
    }
    .box::before,
    .box::after{
        background: linear-gradient(235deg, #89ff00, #eede06, #0fcce5);
    }
    
    .box .glass{
        
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        display: block;
        background: rgba(255,255,255,.1);
        pointer-events: none;
    }
    .box .content{
        padding: 20px;
        color: #fff;
        display: grid;
        align-items: center;
        justify-items: center;
    }
}
@media only screen and (max-width: 430px){
    .nav{
        width: auto;
        background-color: rgb(4, 0, 0);
        display: flex;
        align-items: center;
    }
h1{
    margin: 10px 15px 10px;
    padding: 0%;
    font-size: 20px;
    font-family: serif;
    color: white;
}
.list, li, a {
    text-decoration: none;
    color: white;
    display: flex;
    display: flex;
    margin: 5px 3px;}
.sociico{display: flex;
    height: 24px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
}
.sico1{
    height: 20px;
    margin: 0px 1px;
}
.sico2{
    height: 20px;
    margin: 0px 2px;
}
.sico3{
    height: 20px;
    margin: 0px 2px;
}
.sico4{
    height: 20px;
    margin: 0px 0px;
}
.sico5{
    height: 20px;
    margin: 0px 3px;
}
.greet{
    height: 263px;
    border: solid gold;
}
.box{

    padding: 0;
	position: relative;
	width: 300px;
	height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #060c21;
	margin: 8% 15% 9% 14%;
}
.box:before{
	content: '';
	position: absolute;
	top: -2px;
	left: -2px;
	right: -2px;
	bottom: -2px;
	background: #ed8926;
	z-index: -1;
}
.box:after{
	content: '';
	position: absolute;
	top: -2px;
	left: -2px;
	right: -2px;
	bottom: -2px;
	background: #29e808;
	z-index: -2;
	filter: blur(40px);
}
.box::before,
.box::after{
	background: linear-gradient(235deg, #89ff00, #eede06, #0fcce5);
}

.box .glass{
    
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	display: block;
	background: rgba(255,255,255,.1);
	pointer-events: none;
}
.box .content{
	padding: 20px;
	color: #fff;
    display: grid;
    align-items: center;
    justify-items: center;
}
}
@media only screen and (max-width: 320px){
    .content {
        background-color: black;
        height: fit-content;
        position: sticky;
    }
    
    .navigation {
        width: auto;
        background-color: rgb(4, 0, 0);
        display: flex;
        align-items: center;
    }
    h1 {
        margin: 14px 7px 10px;
        padding: 0%;
        font-size: 20px;
        font-family: serif;
        color: white;
    }
    .penwrite {
        color: rgb(236, 55, 10);
        font-size: 13px;
        margin: auto;
    }

    .tag{
        font-family: 'Poppins', sans-serif;
        margin: 11px;
        font-size: 8px;
        font-weight: 600;
    }

    .sociico{
        display: flex;
        height: 24px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 12px;
    }
    .box{

        padding: 0;
        position: relative;
        width: 300px;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #060c21;
        margin: 7% 10% 4% 9%;
    }
    .box:before{
        content: '';
        position: absolute;
        top: -2px;
        left: -2px;
        right: -2px;
        bottom: -2px;
        background: #ed8926;
        z-index: -1;
    }
    .box:after{
        content: '';
        position: absolute;
        top: -2px;
        left: -2px;
        right: -2px;
        bottom: -2px;
        background: #29e808;
        z-index: -2;
        filter: blur(40px);
    }
    .box::before,
    .box::after{
        background: linear-gradient(235deg, #89ff00, #eede06, #0fcce5);
    }
    
    .box .glass{
        
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        display: block;
        background: rgba(255,255,255,.1);
        pointer-events: none;
    }
    .box .content{
        padding: 20px;
        color: #fff;
        display: grid;
        align-items: center;
        justify-items: center;
    }
}
@media only screen and (max-width: 430px){
    .box{

        padding: 0;
        position: relative;
        width: 300px;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #060c21;
        margin: 7% 10% 4% 9%;
    }
    .box:before{
        content: '';
        position: absolute;
        top: -2px;
        left: -2px;
        right: -2px;
        bottom: -2px;
        background: #ed8926;
        z-index: -1;
    }
    .box:after{
        content: '';
        position: absolute;
        top: -2px;
        left: -2px;
        right: -2px;
        bottom: -2px;
        background: #29e808;
        z-index: -2;
        filter: blur(40px);
    }
    .box::before,
    .box::after{
        background: linear-gradient(235deg, #89ff00, #eede06, #0fcce5);
    }
    
    .box .glass{
        
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        display: block;
        background: rgba(255,255,255,.1);
        pointer-events: none;
    }
    .box .content{
        padding: 20px;
        color: #fff;
        display: grid;
        align-items: center;
        justify-items: center;
    }
    .nav{
        width: auto;
        background-color: rgb(4, 0, 0);
        display: flex;
        align-items: center;
    }
h1{
        margin: 14px 7px 10px;
        padding: 0%;
        font-size: 20px;
        font-family: serif;
        color: white;
}
.list, li, a {
    text-decoration: none;
    color: white;
    display: flex;
    display: flex;
    margin: 0px 2px;}
    .penwrite {
        color: rgb(236, 55, 10);
        font-size: 13px;
        margin: auto;
    }
.sociico{display: flex;
    font-family: 'Poppins', sans-serif;
    margin: 11px;
    font-size: 6px;
    font-weight: 600;
}
.sico1{
    height: 20px;
    margin: 0px 1px;
}
.sico2{
    height: 20px;
    margin: 0px 2px;
}
.sico3{
    height: 20px;
    margin: 0px 2px;
}
.sico4{
    height: 20px;
    margin: 0px 0px;
}
.sico5{
    height: 20px;
    margin: 0px 3px;
}
.greet {
    height: 200px;
    border: solid gold;
}
}